h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.7px solid black;
  padding: 5px 0px;
  margin-bottom: 10px;
  background-color: #3f51b5;
  color: white !important;
}

.class-name-field {
  width: 250px;
}

.action-buttons {
  margin-top: 50px;
}
