td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.remove-button {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

::ng-deep mat-dialog-container {
  position: absolute !important;
  width: 200px !important;
  height: 220px !important;
  padding: 3px !important;
}