td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

::ng-deep mat-dialog-container {
  position: absolute !important;
  width: 200px !important;
  height: 200px !important;
  padding: 3px !important;
}