<h2 mat-dialog-title>Delete Class</h2>
<div class="wrapper">
  <mat-dialog-content>
    <div *ngIf="employees.length > 0; else noEmployees">
      <ng-container>
        <span>There are {{employees.length}} employees on the class, Choose class to transfer:</span>
        <mat-form-field appearance="fill">
          <mat-label>Class</mat-label>
          <mat-select [(value)]="selectedClassId">
            <mat-option>None</mat-option>
            <mat-option [value]="class.id" *ngFor="let class of otherClasses">
              {{class.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>
    <ng-template #noEmployees>
      <span>Are you sure you want to delete the class?</span>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions class="action-buttons" align="end">
    <button mat-button (click)="employees.length > 0 ? onDeleteWithEmployees() : onDelete()"> Delete </button>
    <button mat-button [mat-dialog-close]="true"> Cancel</button>
  </mat-dialog-actions>
</div>


