<h2 mat-dialog-title>Add New Employee</h2>
<mat-dialog-content>
  <mat-form-field class="class-name-field">
    <mat-label>Employee Name</mat-label>
    <input matInput type="text" [(ngModel)]="employeeName">
    <button *ngIf="employeeName" matSuffix mat-icon-button aria-label="Clear" (click)="employeeName=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Class</mat-label>
    <mat-select [(value)]="selectedClassId">
      <mat-option [value]="class.id" *ngFor="let class of classes">
        {{class.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)=" employeeName && selectedClassId && onSave()">Save</button>
  <button mat-button [mat-dialog-close]="true">Cancel</button>
</mat-dialog-actions>
