<h4 class="header">Add Employee</h4>
<input type="text" placeholder="Employee name" [(ngModel)]="employeeName"/>
<div style="margin-top:10px">
  <span style="margin-left: 10px;" class="class-title">Class:</span>
  <select [ngModel]="selectedClassId" (ngModelChange)="changeClass($event)">
    <ng-container *ngFor="let class of classes">
      <option [value]="class.id">{{class.name}}</option>
    </ng-container>
  </select>
</div>

<div class="action-buttons">
  <button (click)="employeeClass != undefined && onSave()"> Save </button>
  <button (click)="onCancel()"> Cancel</button>
</div>

