.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #3f51b5;
  color: white;
  font-weight: 600;
}

.toolbar .title {
  margin-left: 10px;
}

.toolbar .menu {
  margin-left: 10px;
  cursor: pointer;
}

.toolbar .company-selection {
  margin-right: 5px;
}

.company-selection {
  border-radius: 6px;
  padding: 4px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.sidebar-slider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #a1a0a094;
  transform: translateX(-100%);
  transition: ease-in-out 300ms transform;
  width: 200px;
  margin-top: 60px;
}

.sidebar-slider.sidebar-slide-in {
  transform: translateX(0%);
  transition: ease-in-out 600ms transform;
}

.sidebar-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: white;
  font-size: 16px;
  padding: 16px;
}

.sidebar-content div {
  padding: 10px;
  cursor: pointer;
}

.content-data {
  max-width: calc(100% - 400px);
}