

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <mat-icon class="menu" (click)="sidebarShow = !sidebarShow">menu</mat-icon>
  <span class="title">Welcome</span>
    <div class="spacer"></div>
    <select class="company-selection">
      <ng-container *ngFor="let company of companies">
        <option>{{company}}</option>
      </ng-container>
    </select>
</div>


<div class="content" role="main">
  
  <div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
      <div class="sidebar-content">
          <div (click)="clickOnClasses()">Classes</div>
          <div>Employees</div>
      </div>
  </div>

  <div *ngIf="classClicked">
    <h1>Classes Table
      <mat-icon class="add-circle" (click)="addClass()">add_circle</mat-icon>
    </h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
       </thead>
       <tbody>
        <tr *ngFor="let class of classes; let i=index">
            <td>{{class.id}}</td>
            <td>{{class.name}}</td>
            <td><span (click)="removeItem(i)">Remove</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>